@page "/"
@model Otthonbazar.Pages.Advertisement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Search</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12">City Name</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.CityName" class="form-control" />
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-12">Price</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.PriceMin" class="form-control" />
                                <span class="input-group-addon">M Ft</span>
                            </div>
                        </div>
                        <span class="col-xs-2 text-center"> &ndash;</span>
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.PriceMax" class="form-control" />
                                <span class="input-group-addon">M Ft</span>
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-12">Rooms</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.RoomMax" class="form-control" />
                            </div>
                        </div>
                        <span class="col-xs-2 text-center"> &ndash;</span>
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.RoomMin" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <label class="col-xs-12">Size</label>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.SizeMax" class="form-control" />
                                <span class="input-group-addon">
                                    &#13217;
                                </span>
                            </div>
                        </div>
                        <span class="col-xs-2 text-center"> &ndash;</span>
                        <div class="col">
                            <div class="input-group">
                                <input asp-for="Search.SizeMin" class="form-control" />
                                <span class="input-group-addon">
                                    &#13217;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </section>
        <section class="col-lg-8">
            <h2>Advertisements</h2>
            @foreach (var item in Model.Advertisement)
            {
                <div class="card" style="width: 18rem; display: inline-block; margin-bottom: 5px">
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        <img class="card-img-top img-responsive" src="https://via.placeholder.com/340x255" alt="Card image cap">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Price) MFt @Html.DisplayFor(modelItem => item.AdvertisementType)</h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Size) &#13217;
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Address)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Room) + @Html.DisplayFor(modelItem => item.HalfRoom) 
                        </p>
                        <p class="card-text">
                             Built Date: @Html.DisplayFor(modelItem => item.BuildDate)
                        </p>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>