@page "/"
@model Otthonbazar.Pages.Advertisement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Search</h2>
        </section>
        <section class="col-lg-8">
            <h2>Advertisements</h2>
            @foreach (var item in Model.Advertisement)
            {
                <div class="card" style="width: 18rem; display: inline-block; margin-bottom: 5px">
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        <img class="card-img-top img-responsive" src="https://via.placeholder.com/340x255" alt="Card image cap">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Price) MFt @Html.DisplayFor(modelItem => item.AdvertisementType)</h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Size) &#13217;
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Address)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Room) + @Html.DisplayFor(modelItem => item.HalfRoom) 
                        </p>
                        <p class="card-text">
                             Built Date: @Html.DisplayFor(modelItem => item.BuildDate)
                        </p>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </section>
    </div>
</div>